@(eatForm: Form[Application.Eat])

@import helper._

@mainEat(title = "The 'food' application") {
    
    <h1>Time to choose your menu:</h1>
    
    @form(action = routes.Application.returnFood, args = 'id -> "eatform") {
    
       @select(
            field = eatForm("choosenMenu"), 
            options = options(
                "kebab" -> "Kebab",
                "pizza" -> "Pizza 4 fromages",
                "assiette adana" -> "Assiette Adana",
                "nouille crevette" -> "Nouille crevette"
            ),
            args = '_label -> "Choose your menu"
        )
        
        @inputText(
            field = eatForm("quantity"),
            args = '_label -> "Quantity", 'size -> 3
        )
        
        @inputText(
            field = eatForm("price"),
            args = '_label -> "Price", 'size -> 3, 'placeholder -> 10
        )
        
        <p class="buttons">
            <input type="submit">
        <p>
        
    }
    
}